body {
    font-family: Arial, sans-serif;
    /* 设置背景图片，将 YOUR_IMAGE_URL 替换为实际的图片链接 */
    background: url('https://res.cloudinary.com/dgbl5ql1v/image/upload/v1758165361/Komodo-Snorkel-Guide-1140x530_akurr3.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9); /* 设置表单容器的背景为半透明白色 */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    z-index: 1; /* 确保表单容器在背景之上 */
}

.login-title {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input:focus {
    outline: none;
    border-color: #007BFF;
}

.submit-button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}